<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="1" value="CSort, CSort.Sort.BubbleSort"/>
		<add key="2" value="CSort, CSort.Sort.QuickSort"/>
		<add key="3" value="CSort, CSort.Sort.SelectionSort"/>
		<add key="4" value="CSort, CSort.Sort.InsertionSort"/>
	</appSettings>
</configuration>